:root {
  --color-primary: #f492f0;
  --color-secondary: #fff;
  --color-tertiary-1: #000;
  --color-tertiary-2: #ff1b6b;
  --color-tertiary-3: #f41ced;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 60rem;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;

  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.nav__container {
  padding: 1rem 5rem;
  margin: 1rem 5rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__text {
  font-size: 4rem;
  font-weight: 700;
}

.nav__cart--btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 1rem;
  transition: all 0.3s;
}

.heading {
  font-weight: 700;
}

.nav__cart {
  display: flex;
  align-items: center;
}

.cart-count {
  font-size: 1.2rem;
  padding: 0.1rem;
  position: relative;
  top: -1.2rem;
  left: -1.3rem;
  background-color: var(--color-tertiary-2);
}

.hidden {
  display: none;
}

.cart {
  background-color: var(--color-secondary);
  color: var(--color-tertiary-3);
  position: absolute;
  min-height: 10rem;
  top: 6.25rem;
  padding: 1rem;
  right: 1rem;
  font-size: 1.4rem;
  transition: all 0.3s;
  width: 30%;
  overflow: hidden;
  opacity: 0.9;
}

.cart__message {
  color: var(--color-tertiary-1);

  padding: 0.5rem;
}

.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;
}

.cart-mini {
  height: 25%;
  width: 25%;
  border-radius: 50%;
}

.cart__item {
  transition: all 1s ease-in-out;
}

.cart__total {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cart-score {
  color: var(--color-secondary);
}

.store {
  padding: 1rem 5rem;
}

.store__heading {
  font-size: 4rem;
}

.product {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 10rem;
  padding: 1rem 5rem;
  width: 70%;
}

.product__details {
  flex-grow: 1;
  flex-basis: 15%;
  padding: 0.5rem 1rem 1rem 1rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);

  border-radius: 1rem;
  transition: all 0.3s;
}

.product__details:hover {
  transform: scale(1.1);
}

.product__img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 1rem;
}

.product__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.btn-info {
  padding: 0 1rem;
}

.product__btn {
  padding: 0.5rem 1rem;
  width: 90%;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  border: none;

  background-color: var(--color-primary);
  color: var(--color-secondary);
  transition: all 0.3s;
}

.product__btn:hover {
  background-color: var(--color-tertiary-3);
}
